phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
electron_mirror=https://npm.taobao.org/mirrors/electron/
# registry=https://registry.npm.taobao.org
# @bszx:registry=http://8.142.47.30:4873/
@bszx:registry=http://223.223.190.114:60409/