.header-left{
  height: 48px !important;
  line-height: 48px !important;
}
.app-main .app-main-header{
  height: 48px !important;
}
.header-right{
  height: 48px !important;
  line-height: 48px !important;
}
.header-right-title.flex{
  height: 48px !important;
  line-height: 48px !important;
}
.block-plan.flex{
  height: 48px !important;
  line-height: 48px !important;
}
.app-main-header{
  overflow: hidden !important;
}
.quick-nav-btn{
  top: 48px !important;
  height: 40px !important;
  line-height: 40px !important;
  box-sizing: border-box;
  overflow: hidden;
}
.app-main-body-tab-router{
  height: 40px !important;
  line-height: 40px;
  overflow: hidden;
  box-sizing: border-box;
}
.fn-inline.tabList{
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 0 !important;
}
.tab-option-content.fn-inline{
  height: 40px !important;
  line-height: 40px;
  box-sizing: border-box;
}
.quick-nav-box.quick-nav-btn{
  height: 40px;
  line-height: 40px !important;
}
