.isFuJian{
  /* 如果你希望设置特定输入框的占位符颜色，可以使用类名或ID选择器 */
  input::-webkit-input-placeholder {
    color: #c0c4cc !important;
  }
  .BsAppHeader{
    .MenuList-header{
      .header-marquee{
        width: auto;
        max-width: 200px;
        text-overflow: ellipsis;
        word-break: break-all;
        overflow: hidden;
      }
      .MenuList-header.header-left{
        flex: 1;
        min-width: 364px;
      }
      .xmHeader.header-right{
        width: auto !important;
        min-width: 580px;
      }
      .block-plan.flex {
        width: auto;
        box-sizing: border-box;
        .block-plan-desc {
          width: auto;
          display: inline-block;
          max-width: 200px;
          padding: 0 10px;
          text-align: center;
          text-wrap: nowrap;
          text-overflow: ellipsis;
          word-break: break-all;
          overflow: hidden;
        }
      }
    }
  }
}