.Titans-table .vxe-grid--pager-wrapper .vxe-pager.is--perfect {
    margin-top: -2px !important;
}
.Titans-table .vxe-grid--pager-wrapper .vxe-pager {
    height: 48px !important;
}
.Titans-table .vxe-table--render-default .vxe-body--x-space {
  margin-bottom: -3px !important;
}

.mmc-right .vxe-grid--toolbar-wrapper {
  border-bottom: solid 1px #999999 !important;
}

.Titans-table .vxe-table {
  border-left: solid 1px #999 !important;
}

.tag-button-form .vxe-button.type--button.theme--my-blue {
  background-color: var(--hightlight-color) !important;
}
.tag-button-form .vxe-button.type--button.theme--my-blue:hover {
  color: #fff !important;
  background-color: var(--primary-color) !important;
}
.el-card__header {
  .clearfix>span {
    border-left: 3px solid var(--primary-color) !important;
  }
}
.TabKeepRouter-con.model2 .tab-option-content {
  width: 310px !important;
}
.TabKeepRouter-con.model2 .tab-con-main {
  width: calc(100% - 310px) !important;
}
.tab-con-main {
  li {
    .tab-li {
      span {
        max-width: none !important;
      }
    }
  }
}
.vxe-modal--body {
  .jsoneditor-menu {
    background-color: var(--primary-color-hover) !important;
    border-bottom: 1px solid var(--primary-color-hover) !important;
  }
  .jsoneditor {
    border: thin solid var(--primary-color) !important;
  }
}
.BsAppHeader {
  .header-right { 
    font-size: 13px !important;
  }
  .header-right-year .header-right-year-desc {
    width: 74px !important;
  }
  .el-dropdown {
    color: unset;
    font-size: 13px !important;
  }
}
.TabKeepRouter-con .tab-option-list li:hover {
  background: none !important;
}
.TabKeepRouter-con .tab-option {
  margin-top: 14px !important;
}
.TabKeepRouter-con .tab-option-select p {
  margin: -7px 4px 0 0 !important;
}
/*chrome滚动条样式*/
::-webkit-scrollbar {
  width: 8px !important;
  height: 10px !important;
}

::-webkit-scrollbar-track-piece {
  background-color: #FAFAFA !important;
   border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
  /* background-color: #BDDCFD; */
  background: #CFD2D4 !important;
  /* border-radius: 0 8px 8px 0; */
 border-radius: 10px !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9EA4A9 !important;
}

input::-webkit-input-placeholder {
  color: #ddd !important;
}

input::-moz-placeholder {
 color: #ddd !important;
}

input:-ms-input-placeholder {
  color: #ddd !important;
}

input::-webkit-input-placeholder {
  color: #ddd !important;
}

input::placeholder {
  color: #ddd !important;
}
:root {
  --bs-modal-font-color: #606266 !important;
}

.el-button--primary.is-disabled {
  color: #fff !important;
  background-color: var(--primary-color-shadow) !important;
  border-color: var(--primary-color-shadow) !important;
}
.vxe-modal--footer {
  border-top: 1px solid #eee !important;
}
.dfr-report-time-wrapper {
  background: var(--hightlight-color) !important;
  color: var(--primary-color) !important;
}

.ri-apps-2-line:before {
  color: unset !important;
  margin-bottom: 6px !important;
}
.Titans-table .vxe-table .vxe-cell:not([class*="c--tooltip"]) {
  height: 100% !important;
  padding: 5px !important;
  line-height: calc(1em + 6px) !important;
}
.payVoucherInput {
  .detail-title {
    color: var(--primary-color) !important;
  }
  .fundPlanBody {
    background: var(--hightlight-color) !important;
  }
  .attachment {
    background-color: unset !important;
  }
}
.vxe-modal--content {
  .T-search {
    background: var(--hightlight-color) !important;
  }
}
.vxe-toolbar .vxe-custom--wrapper.is--active>.vxe-button {
  border-radius: unset !important;
}
.main-modulebox-contain {
  overflow-y: auto !important;
}
.unit-tree-main.unit-tree-main-nodrop {
  height: calc(100% - 48px) !important;
}
.Titans-table {
  .vxe-grid {
    .vxe-grid--pager-wrapper {
      .vxe-pager {
        .vxe-pager--wrapper {
          .vxe-pager--jump-next.is--active:not(.is--disabled):hover,
          .vxe-pager--jump-prev.is--active:not(.is--disabled):hover,
          .vxe-pager--next-btn.is--active:not(.is--disabled):hover,
          .vxe-pager--num-btn.is--active:not(.is--disabled):hover,
          .vxe-pager--prev-btn.is--active:not(.is--disabled):hover {
            color: var(--hightlight-color-hover) !important;
          }
        }
      }
    }
  }
}

.vxe-input:not(.is--disabled):not(.is--readonly) .vxe-input--number-next:active,
.vxe-input:not(.is--disabled):not(.is--readonly) .vxe-input--number-prev:active {
  color: var(--hightlight-color-hover) !important;
}
.el-button:active, .el-button:focus, .el-button:hover {
  color: var(--secondary-color) !important;
  background-color: var(--hightlight-color) !important;
  border-color: var(--secondary-color-hover) !important;
}
.el-date-table td.current:not(.disabled) span, .el-month-table td.current:not(.disabled) .cell {
  background-color: var(--primary-color) !important;
  color: #fff !important
}
.el-date-table td.today span, .el-month-table td.today .cell {
  color: var(--primary-color) !important;
}
.el-date-table td.available:hover, .el-month-table td .cell:hover {
  color: var(--primary-color) !important;
}