.Titans-table .vxe-grid--pager-wrapper .vxe-pager.is--perfect {
    margin-top: -2px;
}
.Titans-table .vxe-grid--pager-wrapper .vxe-pager {
    height: 48px !important;
}
.Titans-table .vxe-table--render-default .vxe-body--x-space {
  margin-bottom: -3px;
}

.mmc-right .vxe-grid--toolbar-wrapper {
  border-bottom: solid 1px #999999;
}

.Titans-table .vxe-table {
  border-left: solid 1px #999;
}

.tag-button-form .vxe-button.type--button.theme--my-blue {
  background-color: var(--hightlight-color) !important;
}
.tag-button-form .vxe-button.type--button.theme--my-blue:hover {
  color: #fff !important;
  background-color: var(--primary-color) !important;
}
.el-card__header {
  .clearfix>span {
    border-left: 3px solid var(--primary-color) !important;
  }
}
.TabKeepRouter-con.model2 .tab-option-content {
  width: 310px;
}
.TabKeepRouter-con.model2 .tab-con-main {
  width: calc(100% - 310px);
}
.tab-con-main {
  li {
    .tab-li {
      span {
        max-width: none !important;
      }
    }
  }
}
.vxe-modal--body {
  .jsoneditor-menu {
    background-color: var(--primary-color-hover) !important;
    border-bottom: 1px solid var(--primary-color-hover) !important;
  }
  .jsoneditor {
    border: thin solid var(--primary-color) !important;
  }
}
.BsAppHeader {
  .header-right { 
    font-size: 13px !important;
  }
  .header-right-year .header-right-year-desc {
    width: 74px;
  }
  .el-dropdown {
    color: unset;
    font-size: 13px !important;
  }
}
.TabKeepRouter-con .tab-option-list li:hover {
  background: none !important;
}
.TabKeepRouter-con .tab-option {
  margin-top: 14px;
}
.TabKeepRouter-con .tab-option-select p {
  margin: -7px 4px 0 0;
}
/*chrome滚动条样式*/
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: #FAFAFA;
   border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  /* background-color: #BDDCFD; */
  background: #CFD2D4;
  /* border-radius: 0 8px 8px 0; */
 border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9EA4A9;
}

input::-webkit-input-placeholder {
  color: #ddd;
}

input::-moz-placeholder {
 color: #ddd;
}

input:-ms-input-placeholder {
  color: #ddd;
}

input::-webkit-input-placeholder {
  color: #ddd;
}

input::placeholder {
  color: #ddd;
}
:root {
  --bs-modal-font-color: #606266;
}

.el-button--primary.is-disabled {
  color: #fff !important;
  background-color: var(--primary-color-shadow) !important;
  border-color: var(--primary-color-shadow) !important;
}
.vxe-modal--footer {
  border-top: 1px solid #eee;
}
.dfr-report-time-wrapper {
  background: var(--hightlight-color) !important;
  color: var(--primary-color) !important;
}

.ri-apps-2-line:before {
  color: unset;
}