.el-dialog{
    .vxe-form{
        .vxe-form--item-content{
            .el-select{
                width: 100%;
                height: 40px;
                .el-input{
                    height: 40px;
                    line-height: 40px;
                    .el-input__suffix{
                        top:4px;
                    }
                }

            }
           
        }
    }
}

