/*
 * @Author: Comer
 * @Mail: xinlai@bosssoft.com.cn
 * @Date: 2021-10-25 14:09:39
 * @LastEditors: 轻语
 * @LastEditTime: 2022-02-16 15:52:40
 * @Description: 定义系统皮肤颜色  后期可以基于此进行换肤操作
 * 换肤思路： 前提：之前组件不更改，后面新扩展的组件可以使用最新变量  1. 定义统一UI主色调变量  2. 根据换肤按钮加载不同肤色的变量  3. 使用变量重写各个组件背景色样式  4.此样式最后引入，根据样式优先原则进行覆盖生效
 */


//主色调 

//老版 #1E8CFB
// $color-main : #43a3fb;

// 新版 
$color-main : #5176EA;
// $color-ten-percent: rgba($color-main, .1);
// $color-twenty-percent: rgba($color-main, .2);
$color-ten-percent: #EDF1FC;
$color-twenty-percent: #DCE4FB;
$color-three-percent: #b5c4ef;
$color-boder: #999999;
$color-table-boder: #999999;
$color-table-fiter: #666666;
$color-table-font: #000000;
$color-table-bg: #F3F3F3;
$color-defaut-bg: #F2F2F5;
$color-font: #333333;
$color-light-boder: #CCCCCC;
$color-red: #FF0000;