/*
 * @Author: Comer
 * @Mail: xinlai@bosssoft.com.cn
 * @Date: 2021-10-25 14:09:39
 * @LastEditors: Comer
 * @LastEditTime: 2022-11-28 16:32:15
 * @Description: 使用变量重写各个组件背景色样式，此样式最后引入，根据样式优先原则进行覆盖生效
 */
 @import './variables';

.app-main {
  background: $color-defaut-bg;
  .app-main-body-tab-router {
    border-bottom: solid 1px $color-light-boder;
  }
}
.app-main-header {
    // header
    .MenuList-header {
      background: $color-main;
    }
}
// 菜单
.quick-nav-box {
  .quick-nav-btn {
    background: $color-ten-percent !important;
    border-bottom: solid 1px $color-light-boder;

    span {
      color: $color-main !important;
    }
  }
}

// router
.TabKeepRouter-con {
  .tab-option-list li:hover span {
    color: $color-main !important;
  }
  .tab-con-main {
    li {
      .tab-li span {
        color: $color-font !important;
      }

      &.active {
        .tab-li span {
          color: $color-main !important;
        }

        .tab-li-text-ac {
          background: $color-main !important;
        }
      }

      &:hover {
        .tab-li-text-ac {
          background: $color-main !important;
        }
        .tab-li em {
          color: #9EA4A9 !important;
        }
      }
    }
  }
}
// Tab
.Ttab-con {
  &.main-modulebox-tab {
    background: $color-ten-percent;
  }

  li.active {
    .tab-li {
      border-bottom: solid 2px $color-main !important;

      span {
        color: $color-main !important;
      }
    }
  }

  li:hover {
    .tab-li {
      span {
        color: $color-main !important;
      }
    }
  }
}

  .vxe-button.theme--primary {
    border-color: $color-main !important;
    background-color: $color-main !important;
    color: #ffffff;
  }



  // .el-button {
  //   border: 1px solid $color-boder;
  // }

//main layout
.T-mainFormListLayout-modulebox {
  padding: unset !important;
  padding-top: 12px !important;
  .mmc-formlist {
    border-bottom: solid 1px $color-table-boder;
    .mmc-right {
      padding-right: 0px !important;
      margin-right:15px;
      border-top: solid 1px $color-table-boder;
    }
    .vue-splitter-container {
      .splitter-pane-resizer.vertical {
        width: 1px !important;
        background: $color-table-boder !important;
      }
    }
  }
}

.mmc-toolbar-search{
  padding-bottom: unset !important;
}

// 状态按钮
.mmc-toolbar {
  max-height: 56px !important;
  .boss-slect__toolbar {
    height: 56px !important;
    .boss-toolbar__content {
      height: 56px !important;
      border-bottom: unset;
    }
  }
  .tab-select-two-con-list {
    .el-button:hover {
      color: $color-main !important;
      border-color: $color-twenty-percent;
      background-color: $color-ten-percent;
      border-left-color: $color-twenty-percent !important;
    }

    ul li:nth-child(1) button {
      // border-left: 1px solid $color-boder !important;
    }

    ul {
      li:hover .el-input__inner {
        color: $color-main !important;
      }
    }

    .active-btn {
      .el-select {
        border-color: $color-main !important;
        box-shadow: 1px 0 0 0 $color-main !important;
      }

      .el-input__inner {
        background-image: $color-main !important;
      }

      button {
        border-color: $color-main !important;
        box-shadow: 1px 0 0 0 $color-main !important;
        background-image: unset !important;
        background-color: $color-main !important;
      }

      .el-button:hover {
        color: #fff !important;
      }
    }

    .active-btn:hover {
      .el-input__inner {
        background-image: $color-main !important;
      }
    }

  }

  .toobar-right__buttons {
    .vxe-button.type--button {
      border: 1px solid $color-boder;
    }

    .vxe-button.type--button:not(.is--disabled) {
      &:hover {
        color: $color-main;
      }

      &:active {
        border-color: $color-main;
      }

      &:focus {
        box-shadow: 0 0 0.25em 0 $color-main;
      }
    }

    .vxe-button.type--button.theme--primary:not(.is--disabled):hover {
      color: #ffffff;
      opacity: .8;
    }
    
    .query-btn {
      background-color: $color-twenty-percent !important;
      color: $color-main !important;
      border-color: $color-twenty-percent !important;
    }
  }
}

// 高级查询
.mmc-search {
  .T-search {
    background: $color-ten-percent;
  }
}

// select
.vxe-select.is--active>.vxe-input {
  .vxe-input--inner {
    border: solid 1px $color-main;
  }
}

.vxe-button.type--button:not(.is--disabled):focus {
  border-color: $color-main;
  box-shadow: 0 0 0.25em 0 $color-main;
}

.vxe-input:not(.is--disabled).is--active {
  .vxe-input--inner {
    border: solid 1px $color-main;
  }
}

// tree
.tree-set__content {
  background-color: $color-twenty-percent !important;
  border-bottom: solid 1px $color-table-boder;
  border-top: solid 1px $color-table-boder;
  padding-left: 19px !important;
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: $color-main;
  border-color: $color-main;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: $color-main;
  border-color: $color-main;
}

.el-checkbox__inner:hover {
  border-color: $color-main;
}

.unit-tree-main.unit-tree-main-nodrop {
  .selection-tree-nodrop .el-tree .el-tree-node.is-current>.el-tree-node__content {
    background-color: $color-twenty-percent !important;
  }
}

.unit-tree-main {
  // padding-left: 24px !important;
}

.mmc-right {
  .vxe-grid--toolbar-wrapper {
    border-left: solid 1px $color-table-boder;
  }
}

// table
.Titans-table {
  .vxe-grid--toolbar-wrapper {
    padding: 9px 24px 9px 0;
  }
  .vxe-toolbar {
    .vxe-button--wrapper {
      .header-tip_wrap {
        color: $color-main !important;
      }


      .table-toolbar-left-title {
        span {
          background: $color-twenty-percent !important;
          font-size: 16px;
          color: $color-table-font;
          padding-left: 24px;
        }

        i {
          border-left-color: $color-twenty-percent !important;
        }
      }
    }

    .vxe-tools--operate {
      .vxe-button {
        background: $color-twenty-percent !important;
        border: solid 1px $color-twenty-percent !important;
        color: $color-main !important;

        &:hover {
          box-shadow: 0px 0px 2px $color-main !important;
        }
      }
    }

    .vxe-tools--wrapper {
      .custom-slot {
        .vxe-button {
          border-radius: 2px !important;
          border-color: $color-boder;

          &:hover {
            box-shadow: 0px 0px 2px $color-main !important
          }

          &:not(.is--disabled):hover {
            border-color: $color-main !important;
          }

          &:not(.is--disabled):active {
            border-color: $color-main !important;
          }

          &:not(.is--disabled):focus {
            border-color: $color-main !important;
          }
        }
      }

      .toolbarTools-select {
        .select-money-unit {
          .vxe-input--inner {
            border: 1px solid $color-boder;
          }
        }
      }

      .vxe-tools-custom--operate {
        .vxe-button {
          background: $color-twenty-percent !important;

          &:hover {
            box-shadow: 0px 0px 2px $color-main !important;
          }
        }
      }

      .vxe-input--inner {
        border-radius: 2px;
      }

      .vxe-form {
        background-color: $color-ten-percent;
      }
    }
  }

  // vxe-table
  .vxe-table {
    color: $color-table-font;
    .vxe-table--header-wrapper {
      font-size: 16px;
    }
    .tr-line-bold {
      td .vxe-cell {
        border-bottom: solid 2px $color-table-boder;
        margin-bottom: 1px;
        height: 100% !important;
      }
    }
    .is--checked.vxe-cell--checkbox {
      .vxe-checkbox--icon:before {
        border-color: $color-main !important;
        background-color: $color-main !important;
      }
    }

    .is--indeterminate.vxe-cell--checkbox .vxe-checkbox--icon:before {
      border-color: $color-main;
      background-color: $color-main;
    }

    .vxe-body--column.col--selected:not(.col--checked) {
      -webkit-box-shadow: inset 0 0 0 2px $color-main !important;
      box-shadow: inset 0 0 0 2px $color-main !important;
    }

    .vxe-table--header-wrapper {
      background: $color-twenty-percent !important;
    }
    .vxe-table--header-wrapper.fixed-left--wrapper {
      top: 2px !important;
    }

    .vxe-table--body tr:hover {
      background: $color-ten-percent !important;
    }

    .vxe-table .vxe-body--row.row--hover {
      background: $color-ten-percent !important;
    }

    .vxe-table--footer-wrapper {
      background: $color-twenty-percent !important;
    }
    
    .vxe-body--row.row--checked,
    .vxe-body--row.row--radio {
      background-color: $color-ten-percent !important;
    }

    .vxe-body--row.row--current {
      background-color: $color-ten-percent !important;
    }

    .vxe-body--row.row--hover {
      // background-color: #cbe2fe;
      background: $color-ten-percent !important;
    }

    .vxe-cell--checkbox:not(.is--disabled):hover .vxe-checkbox--icon:before {
      border-color: $color-main;
    }

    .vxe-cell {
      .vxe-cell--filter .vxe-filter--btn {
        color: $color-table-fiter;
      }
      .vxe-cell--sort {
        i {
          color: $color-table-fiter;
        }
      }
    }

    .vxe-cell--sort {
      width: 0.5em !important;
      height: 0.5em !important;
      margin-left: 10px;
    }

    .vxe-icon--caret-bottom:before,
    .vxe-icon--caret-left:before,
    .vxe-icon--caret-right:before,
    .vxe-icon--caret-top:before {
      border-width: 0.26em !important;
    }

    .vxe-sort--asc-btn {
      left: -4px !important;
      top: -0.4em !important;
    }
 .vxe-sort--asc-btn:before {
       left: -4px !important;
      top:0em !important;
    }
    .vxe-sort--desc-btn {
      left: -4px !important;
      bottom: -0.4em !important;
    }
     .vxe-sort--desc-btn:before {
      left: -4px !important;
 top:0em !important;
    }

    .vxe-sort--asc-btn.vxe-icon--caret-top:before {
      // transform: rotate(45deg) translate(0.7 em, 0.2 em);
    }
    

  }

  .vxe-table.border--full .vxe-body--column,
  .vxe-table.border--full .vxe-footer--column,
  .vxe-table.border--full .vxe-header--column {
    background-image: linear-gradient($color-table-boder, $color-table-boder),
    linear-gradient($color-table-boder, $color-table-boder) !important;
  }

  .vxe-table .vxe-table--body-wrapper.fixed-left--wrapper {
    top: 43px !important;
  }
  .vxe-table .vxe-table--footer-wrapper.fixed-left--wrapper {
    margin-top: -16px !important;
  }

  .vxe-table.border--default .vxe-table--header-wrapper,
  .vxe-table.border--full .vxe-table--header-wrapper,
  .vxe-table.border--outer .vxe-table--header-wrapper {
    background: $color-twenty-percent !important;
    box-shadow: 1px 0 0 $color-twenty-percent !important;
  }

  .vxe-grid--pager-wrapper {
    .vxe-pager.is--perfect .vxe-pager--num-btn:not(.is--disabled).is--active {
      background-color: $color-main !important;
    }
    .vxe-pager {
      height: 56 px;
      padding: 0 !important;
      background-color: $color-defaut-bg !important;
      border: solid 1px $color-table-boder !important;
      .vxe-pager--wrapper {
        padding-right: 12px !important;
      }
    }
  }

}

.vxe-modal--wrapper {
  .vxe-modal--header {
    // background-color: $color-twenty-percent !important;
    background-color: #ffffff !important;
  }

  .footer-btnBak {
    background: $color-main;
  }
}

.vxe-button.type--button:not(.is--disabled):hover {
  color: $color-main;
}

.vxe-radio .vxe-radio--icon {
  background-color: $color-main;
  border-color: $color-main;
}

.vxe-radio>input:checked+.vxe-radio--icon {
  background-color: $color-main;
  border-color: $color-main;
}

.vxe-radio>input:checked+.vxe-radio--icon+.vxe-radio--label {
  color: $color-main;
}

.vxe-radio:not(.is--disabled):hover>input+.vxe-radio--icon { 
  border-color: $color-main;
}

.vxe-checkbox:not(.is--disabled):hover>input+.vxe-checkbox--icon {
  border-color: $color-main;
}

.vxe-select-option.is--selected {
  font-weight: 700;
  color: $color-main;
}

.vxe-switch.is--on .vxe-switch--button {
  background-color: $color-main;
}

.vxe-switch.is--disabled.is--on .vxe-switch--button {
  background-color: $color-three-percent;
}

.TabKeepRouter-con .tab-con-main .offset i {
  color: $color-main !important;
}

.vxe-input--inner {
  // border: solid 1px $color-boder !important;
}
.el-progress-bar__inner{
  background:$color-main ;
}
  
.tab-select-two-con-list .active-btn .el-input__inner {
  background-image: -webkit-linear-gradient(bottom, #5176EA 0%, #5176EA 100%) !important;
  background-image: linear-gradient(0deg, #5176EA 0%, #5176EA 100%) !important;
  color: #fff;
}
